/*Estilos importados para que funcione el compilado sass*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pacifico", cursive;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
}
body .imgHome {
  width: 5rem;
  padding: 8px;
}
body .logo {
  border: 3px solid black;
  width: 200px;
}
body img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
body footer {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
}
body footer .uPie {
  display: inline-block;
}

/* Mixin para Header */
header {
  font-family: "Signika Negative", sans-serif;
  background-color: #e8bfc6;
  border-radius: 30px;
  margin-top: 20px;
  border: 1px solid #da8190;
}
header .fuentes {
  font-family: "Signika Negative", sans-serif;
  padding-left: 2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
header .fuentes li a:hover {
  background-color: #f6c483;
  color: #fff;
  border-radius: 20px;
}
header .piePaginac {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 2rem;
}
header li {
  display: inline-block;
  margin: 0 20px;
}
header li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

/*Estilo main texto p e imagenes*/
.imagent1, .imagent2, .imagent3 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.3rem;
  text-align: justify;
}
.imagent1 img, .imagent2 img, .imagent3 img {
  border-radius: 30px;
}

.texto1, .texto2, .texto3 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.3rem;
  text-align: justify;
}
.texto1 img, .texto2 img, .texto3 img {
  border-radius: 30px;
}

/*Mixin para footer*/
footer {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
}
footer .uPie {
  display: inline-block;
}

main {
  background-color: #f1dfa0;
  border-radius: 30px;
  border: 1px #ebc643;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  /* Seccion Main Quienes Somos*/
  /* Seccion Main Contacto */
  /* Seccion Main productos */
  /* Seccion Main de Tiendas*/
}
main .grid-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  gap: 15px;
}
main .grid-Container .welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .grid-Container .text-container {
  text-align: center;
  font-size: 10rem;
  font-family: "Pacifico", cursive;
}
main .grid-Container .tituloPrincipal {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: "Pacifico", cursive;
}
main .grid-Container h2 {
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  main .grid-Container .tituloPrincipal {
    font-size: 2rem;
  }
  main .grid-Container h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  main .grid-Container .tituloPrincipal {
    font-size: 1.8rem;
  }
  main .grid-Container h2 {
    font-size: 1.2rem;
  }
}
main .pet, main .producto, main .tips {
  flex: 1;
  min-width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  max-width: 10%;
}
main .image-container {
  position: relative;
  text-align: center;
  justify-content: center;
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .pet:hover .image-container,
main .producto:hover .image-container,
main .tips:hover .image-container {
  transform: scale(0.98);
}
main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #2cbbc3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.9s;
  transform: scale(0.96);
  border-radius: 4rem;
}
main .overlay-content {
  font-family: "Pacifico", cursive;
  font-size: 8rem;
  padding: 15px;
  border: 10px solid #CAE4EF;
  border-radius: 5px;
  text-align: center;
}
main .pet:hover .overlay,
main .producto:hover .overlay,
main .tips:hover .overlay {
  opacity: 1;
}
main .pet {
  grid-area: pet;
}
main .pet .pet p {
  position: absolute;
  top: 50;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
main .producto {
  grid-area: producto;
}
main .tips {
  grid-area: tips;
}
main .piePaginac {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 2rem;
}
main .contenedor {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 30px;
  grid-auto-flow: row;
  grid-template-areas: "texto1 imagent1" "imagent2 texto2" "texto3 imagent3";
}
main .contenedor .texto1 {
  grid-area: texto1;
  display: flex;
  flex-direction: column;
  text-align: -webkit-left;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
}
main .contenedor .texto1 h4 {
  font-size: 2rem;
}
main .contenedor .imagent1 .img {
  grid-area: imagent1;
  text-align: center;
  justify-content: center;
}
main .contenedor .texto2 {
  grid-area: texto2;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: -webkit-left;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
}
main .contenedor .texto2 h4 {
  font-size: 2rem;
}
main .contenedor .imagent2 {
  grid-area: imagent2;
  text-align: center;
  justify-content: center;
}
main .contenedor .texto3 {
  grid-area: texto3;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: -webkit-right;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
}
main .contenedor .texto3 h4 {
  font-size: 2rem;
}
main .contenedor .imagent3 {
  grid-area: imagent3;
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 765px) {
  main .contenedor {
    height: auto;
    margin: auto;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "texto1" "imagent1" "texto2" "imagent2" "texto3" "imagent3";
  }
}
main .formulario {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px));
  grid: wrap;
  grid-auto-flow: row;
  gap: 10px;
  padding: 20px 20px;
  grid-template-areas: "gridContacto";
}
main .formulario .gridContacto {
  justify-content: center;
  text-align: center;
  grid-auto-flow: column;
  border-width: #f1dfa0;
  border-radius: 30px;
  border: solid 3px gray;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(133, 82, 93, 0.5);
  background-color: rgba(161, 131, 85, 0.7);
  font-family: "Signika Negative", sans-serif;
  grid-area: gridContacto;
}
main .formulario .gridContacto .control {
  justify-content: center;
  text-align: start;
  padding: 0 20px;
}
main .formulario .gridContacto .control .campos {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}
main .formulario .gridContacto .btnFormulario {
  display: inline-flex;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(240, 220, 222, 0.5);
}
main .productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #cd8484;
  border-radius: 20px;
}
main .productos .card-body {
  box-shadow: 0px 5px 10px 0px rgb(243, 155, 40);
}
@media (min-width: 746px) {
  main .card {
    flex-direction: column;
    margin: 10px;
  }
}
@media (max-width: 745px) {
  main .card {
    flex-direction: column;
    margin: 15px;
  }
}
main .tienda-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}
main .texto-container {
  flex: 1;
}
main .map-container {
  flex: 1;
  margin-left: 2rem;
}
main .map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}
@media (max-width: 815px) {
  main .tienda-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  main iframe {
    margin-left: 0;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 1.5rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
