* {
    margin: 0;
    padding: 0;
}

/*** Body ***/
body {
    font-family: 'Signika Negative', sans-serif;
    line-height: 1.6;
    background-size: cover; 
    background-repeat: no-repeat; 
}

.imgHome {
    width: 5rem;
    padding: 8px;
}

.logo {
    border: 3px solid black;
    width: 200px;
}

.index {
    row-gap: 10px 20px;
    width: 350px;
    height: 250px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

img {
    width: 100%;
    height: 100%;
    transition: 0.2s;
    object-fit: cover;
}

img:hover {
    transform: scale(1.1);
}

/*** Header ***/
header {
    font-family: 'Signika Negative', sans-serif;
    background-color: #e8bfc6;
    border-radius: 30px;
    margin-top: 20px;
    border: 1px solid #da8190;
}

.fuentes {
    font-family: 'Signika Negative', sans-serif;
    padding-left: 2rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.fuentes li a:hover {
    background-color:#f6c483;
    color: #fff;
    border-radius: 20px;
}

.tituloPrincipal {
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    margin: 20px 0px;
}

.imgCentral {
    margin-right: 2%;
    text-align: center;
}

.piePaginac {
    text-align: center;
    margin-top: 0px;
}

li {
    display: inline-block;
    margin: 0 20px;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

/*** Main ***/

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(0.05);
}
.grid-Container {
    display: grid;
    grid: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "pet pet" 
    "productos tips";
    padding: 10px;
}
.pet {
    grid-area: pet;
}
.tips {
    grid-area: tips;
}
.productos {
    grid-area: productos;
}
.imgH {
    border-radius: 20px;
    width: 90%;
    justify-content: center;
}

/* *************** */
main {
    background-color: #f1dfa0;
    border-radius: 30px;
    border: 1px #ebc643;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

/********** QUIENESSOMOS **********/

.contenedor {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    padding: 30px;
    grid: wrap;
    grid-template-areas: 
    "texto1 imagent1"
    "imagent2 texto2"
    "texto3 imagent3";
}

.texto1 {
    grid-area: texto1;
    grid: wrap;
    display: flex;
    text-align: -webkit-left;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
}
.imagent1 .img {
    grid-area: imagent1;
    text-align: center;
    justify-content: center;
    grid: wrap;
}
.texto2 {
    grid-area: texto2;
    text-align: center;
    justify-content: center;
    grid: wrap;
    display: flex;
    text-align: -webkit-right;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
}
.imagent2 {
    grid-area: imagent2;
    text-align: center;
    justify-content: center;
    grid: wrap;
}
.texto3 {
    grid-area: texto3;
    text-align: center;
    justify-content: center;
    grid: wrap;
    display: flex;
    text-align: -webkit-left;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
}
.imagent3 {
    grid-area: imagent3;
    text-align: center;
    justify-content: center;
    grid: wrap;
}

.imagent1 img {
    border-radius: 30px;
}
.imagent2 img {
    border-radius: 30px;
}
.imagent3 img {
    border-radius: 30px;
}

/* Resolución para movil */
@media (max-width:767px){
    .contenedor {
        grid-template-areas: 
        "texto1"
        "imagent1"
        "texto2"
        "imagent2"
        "texto3"
        "imagent3"
    }
}
/* Resolución para tablet */
@media (max-width:768px){
    .contenedor {
        grid-template-areas:
            "texto1 imagent1"
            "imagent2 texto2"
            "texto3 imagent3"
    }
}

/* .imgQs{
    display: flex;
    width: 200px;
    border-radius: 30px;
    border: dashed 3px white;
    flex-direction: row-reverse;
    width: 250px;
    height: 250px;
} */

/**************** PRODUCTOS *************/
.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #cd8484;
    border-radius: 20px;
}

.card-body {
    box-shadow: 0px 5px 10px 0px rgb(243, 155, 40);
}

@media (min-width: 746px) {
    .card {
        flex-direction: column;
        margin: 10px;
    }
}

@media (max-width: 745px) {
    .card {
        flex-direction: column;
        margin: 15px;
    }
}
/********* TIENDAS ************/

iframe {
    margin: auto;
    border-radius: 20px;
    border-bottom: 20px solid black;
}

.casaMatriz {
    text-align: center;
}

/************* CONTACTO ***********/
@media (min-width: 745px) {
    .formulario{
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "gridContacto";
    }
}


.formulario {
    display: grid;
    /* grid-auto-columns: 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(350px));
    /* grid-template-rows: 1fr; */
    grid: wrap;
    grid-auto-flow: row;
    gap: 10px;
    padding: 20px 20px;
    grid-template-areas: 
    "nada gridContacto imagenContacto";
}

.gridContacto{
    justify-content: end;
    grid-area: gridContacto;
    grid-auto-flow: row;
    grid: wrap;
    text-align: left;
    border-width: #f1dfa0;
    border-radius: 30px;
    border: solid 3px gray;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(133, 82, 93, 0.5);
    background-color: rgba(161, 131, 85, 0.7);
    font-family: 'Signika Negative', sans-serif;
    height: 100%;
}

.control {
    justify-content: center;
    text-align: start;
    padding: 0 20px;
}

.campos {
    display:inline-block;
    justify-content: flex-end;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.imagenContacto {
    grid-area: imagenContacto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 30%;
}

.imagenGrid {
    border-radius: 30px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.controlT {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

.btnFormulario {
    display:  inline-flex;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(240, 220, 222, 0.5);



}

/*** FOOTER ***/
footer {
    background-color: rgba(255,255,255,0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}

.uPie {
    display: inline-block ;
}