header {
    font-family: 'Signika Negative', sans-serif;
    background-color: $color-backgroundnav;
    border-radius: 30px;
    margin-top: 20px;
    border: 1px solid #da8190;
    .fuentes {
        font-family: 'Signika Negative', sans-serif;
        padding-left: 2rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        li {
            display: inline-block;
            margin: 0 20px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: black;
            }
            a:hover {
                background-color: #f6c483;
                color: #fff;
                border-radius: 20px;
            }
        }
    }
}







