main {
    background-color: #f1dfa0;
    border-radius: 30px;
    border: 1px #ebc643;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    
    .tituloPrincipal {
        text-align: center;
        margin: 20px 0px;
    }

        /* MAIN INDEX */
    .imgindex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 1rem;    
    }

    .grid-item:hover {
        filter: opacity(0.9);
        transform: scale(0.05);
    }

    .grid-Container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        margin: 5rem;
        grid-template-areas: 
        "pet pet" 
        "producto tips";
        
        .pet {
            grid-area: pet;

            .pet p {
                position: absolute;
                top:50;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                padding: 10px;
                background-color: rgba(255,255,255,0.8);
                border-radius: 5px;
            }
        }

        .producto {
            grid-area: producto;

            .imgindex1 {
                display: block;
                flex-wrap: wrap;
                height: auto;
                width: 100%;
                border-radius: 10px;
                justify-content: center;
                border-radius: 1rem;
                box-shadow: 7px 7px 13px #89501a;
            }
        }
        
        .tips {
            grid-area: tips;
        }
    }
        
    .piePaginac {
        font-family: 'Pacifico', cursive;
        text-align: center;
        font-size: 2rem;
    }

    /* Seccion Main Quienes Somos*/

    .contenedor {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        padding: 30px;
        grid-auto-flow: row;
        grid-template-areas: 
        "texto1 imagent1"
        "imagent2 texto2"
        "texto3 imagent3";

        .texto1 {
            grid-area: texto1;
            display: flex;
            text-align: -webkit-left;
            justify-content: center;
            padding: 10px;
            margin-top: 30px;
        }
        .imagent1 .img {
            grid-area: imagent1;
            text-align: center;
            justify-content: center;
        }
        .texto2 {
            grid-area: texto2;
            text-align: center;
            justify-content: center;
            display: flex;
            text-align: -webkit-left;
            justify-content: center;
            padding: 10px;
            margin-top: 30px;
        }
        .imagent2 {
            grid-area: imagent2;
            text-align: center;
            justify-content: center;
        }
        .texto3 {
            grid-area: texto3;
            text-align: center;
            justify-content: center;
            display: flex;
            text-align: -webkit-right;
            justify-content: center;
            padding: 10px;
            margin-top: 30px;
        }
        .imagent3 {
            grid-area: imagent3;
            text-align: center;
            justify-content: center;
        }
        .imagent1 img {
            border-radius: 30px;
        }
        .imagent2 img {
            border-radius: 30px;
        }
        .imagent3 img {
            border-radius: 30px;
        }
        .texto1 p {
            font-family: 'Signika Negative', sans-serif;
            font-size: 1.3rem;
            text-align: justify;
        }
        .texto2 p {
            font-family: 'Signika Negative', sans-serif;
            font-size: 1.3rem;
            text-align: justify;
        }
        .texto3 p {
            font-family: 'Signika Negative', sans-serif;
            font-size: 1.3rem;
            text-align: justify;
        }
    }
    
    /* Main Contacto */
    .formulario {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px));
        grid: wrap;
        grid-auto-flow: row;
        gap: 10px;
        padding: 20px 20px;
        grid-template-areas: 
        "gridContacto";

        .gridContacto{
            justify-content: center;
            text-align: center;
            grid-auto-flow: column;
            border-width: #f1dfa0;
            border-radius: 30px;
            border: solid 3px gray;
            padding: 10px;
            box-shadow: 0px 0px 10px rgba(133, 82, 93, 0.5);
            background-color: rgba(161, 131, 85, 0.7);
            font-family: 'Signika Negative', sans-serif;
            grid-area: gridContacto;
        
            .control {
                justify-content: center;
                text-align: start;
                padding: 0 20px;
            
                .campos {
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 15px;
                    margin-bottom: 10px;
                }                
            }
            
            .btnFormulario {
                display:  inline-flex;
                padding: 0px 20px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(240, 220, 222, 0.5);
            }
        }
    }

    /* Seccion de productos en el Main*/

    .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: #cd8484;
        border-radius: 20px;

        .card-body {
            box-shadow: 0px 5px 10px 0px rgb(243, 155, 40);
        }
        
        @media (min-width: 746px) {
            .card {
                flex-direction: column;
                margin: 10px;
            }
        }
        
        @media (max-width: 745px) {
            .card {
                flex-direction: column;
                margin: 15px;
            }
        }
    }

    /*MAIN TIENDAS*/
    
    .casaMatriz {
        text-align: center;
    }
    iframe {
        margin: auto;
        border-radius: 20px;
        border-bottom: 20px solid black;
    }
}

    