/* Mixin para Header */
@mixin header-mixin{
    font-family: 'Signika Negative', sans-serif;
    background-color: $color-backgroundnav;
    border-radius: 30px ;
    margin-top: 20px;
    border: 1px solid #da8190;
    .fuentes{
        font-family: 'Signika Negative', sans-serif;
        padding-left: 2rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        li a:hover{
            background-color: #f6c483;
            color: #fff;
            border-radius: 20px;
        }
    }
    .piePaginac{
        font-family: 'Pacifico', cursive;
        text-align: center;
        font-size: 2rem;
    }
    li{
        display: inline-block;
        margin: 0 20px;
    }
    li a{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: black;
    }
}
header {
    @include header-mixin;
}
/*Estilo main texto p e imagenes*/
@mixin custom-styles {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.3rem;
    text-align: justify;

    img {
        border-radius: 30px;
    }
}
.imagent1, .imagent2, .imagent3 {
    @include custom-styles;
}
.texto1, .texto2, .texto3 {
    @include custom-styles;
}

/*Mixin para footer*/
@mixin footer{
    background-color: rgba(255,255,255,0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    .uPie{
        display: inline-block ;
    }
}
footer{
    @include footer;
}




