@mixin tituloPrimario($backgroundcolor,$color,$botonborder){
    display: flex;
    flex-direction: column;
    font-family: Signika Negative;
    background: $backgroundcolor;
    color: $color;
    border-bottom: $botonborder;
    width: 100%;
    padding: 40px;
    border-radius: 16px;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

@mixin textoinicio(){
    text-shadow: 0 0 1rem rgba(147, 35, 56, 0.7);
    font-size: 4rem;
}

@mixin inicioTipos {
    display: flex;
    flex-direction: column;
    font-family: pacifico;
    background: linear-gradient( rgb(205, 119, 119) 46%, rgb(251, 234, 234) 76%);
    color: rgb(41, 35, 36);
    box-shadow: 0 0 20px rgba(198, 30, 30, 0.2);
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
} 
.inicioTips {
    @include tituloPrimario(linear-gradient(102deg, rgb(205, 119, 119) 31%, rgb(251, 234, 234) 76%),rgb(41, 35, 36),16px solid rgb(244, 128, 128))
}

.tituloPrincipal{
    @include inicioTipos()
}

.textoInx {
    @include textoinicio()
}
