/*Estilos importados para que funcione el compilado sass*/

@import "general";
@import "variables";
@import "body";
@import "header";
@import "mixin";
@import "main";

 html, body{
    overflow-x: hidden;
    max-width: 1400px;
    margin: 0 auto;
 }